@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome to the Task Manager!</h1>
    <p><h3>Task Manager with To-Do List, as a productivity planner, is designed to help users keep track of their to-do list, make daily planners free, and provide reminders for important tasks.</h3></p>
    
</div>
